---
- name: Fix K3s Version Mismatch - Align Workers to Master Version
  hosts: k8s_workers
  become: true
  vars:
    target_k3s_version: v1.32.6+k3s1  # Version du master
    k3s_install_url: https://get.k3s.io
    
  tasks:
    - name: Display current K3s version
      ansible.builtin.shell: /usr/local/bin/k3s --version | head -1
      register: current_version
      
    - name: Show current version
      ansible.builtin.debug:
        msg: "{{ inventory_hostname }}: {{ current_version.stdout }}"

    - name: Stop K3s agent service
      ansible.builtin.systemd:
        name: k3s-agent
        state: stopped
      failed_when: false

    - name: Remove K3s agent service and binary
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      with_items:
        - /etc/systemd/system/k3s-agent.service
        - /etc/systemd/system/k3s-agent.service.env
        - /usr/local/bin/k3s
      
    - name: Reload systemd daemon
      ansible.builtin.systemd:
        daemon_reload: true

    - name: Get master token
      ansible.builtin.slurp:
        src: /var/lib/rancher/k3s/server/node-token
      register: master_token_b64
      delegate_to: "{{ groups['k8s_master'][0] }}"
      
    - name: Set master connection facts
      ansible.builtin.set_fact:
        master_ip: "{{ hostvars[groups['k8s_master'][0]].ansible_host | default(groups['k8s_master'][0]) }}"
        master_token: "{{ master_token_b64.content | b64decode | trim }}"

    - name: Install K3s agent with correct version
      ansible.builtin.shell: |
        curl -sfL {{ k3s_install_url }} | INSTALL_K3S_VERSION={{ target_k3s_version }} K3S_URL=https://{{ master_ip }}:6443 K3S_TOKEN={{ master_token }} sh -
      register: install_result
      
    - name: Show install result
      ansible.builtin.debug:
        var: install_result.stdout_lines
      when: install_result.stdout is defined

    - name: Start and enable K3s agent
      ansible.builtin.systemd:
        name: k3s-agent
        state: started
        enabled: true
        
    - name: Wait for agent to be ready
      ansible.builtin.pause:
        seconds: 15

    - name: Verify new version
      ansible.builtin.shell: /usr/local/bin/k3s --version | head -1
      register: new_version
      
    - name: Show new version
      ansible.builtin.debug:
        msg: "{{ inventory_hostname }} new version: {{ new_version.stdout }}"